<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>

  <welcome-file> test</welcome-file>
    <welcome-file>index.html</welcome-file>
 
  </welcome-file-list>
  <servlet>
    <servlet-name>veganservice</servlet-name>
    <servlet-class>
			org.glassfish.jersey.servlet.ServletContainer
		</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>services</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>veganservice</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
 
 
    

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/GetData/*</url-pattern>
             <url-pattern>/GetSuggestions/*</url-pattern>
              <url-pattern>addproducts.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        
        </auth-constraint>
    </security-constraint>

   
    
  
</web-app>
